<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderphilly</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        {% if session.get('user_id') %}
            <a href="/upload">Upload Route</a>
            <a href="/view_routes">View Routes</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}
       <h1>Hello World</h1>
    {% endblock %}
</main>

<footer>
    <p>Wanderphilly © 2024</p>
</footer>
</body>
</html>